<%include include/header.html%>

<!-- Top content -->
<div class="top-content">


	<div ng-controller="CollectUserData">

		<!-- Top menu -->
		<% include include/navigation_bar.html %>



		<!-- Search Feature-->
		<div class="inner-bg">
			<div class="container-fluid">


				<div class="row">

					<div class="app-features-container section-container-gray-bg">


						<div ng-controller="searchController">

							<div class="row">
								<div id="title">Find a {{user.target | lowercase }} that match your
									profile by location and major. Use the advanced search feature
									to filter out results by your preference.</div>

								<% include include/advanced_search_options.html %>
							</div>

							<div class="row">
								<br>
								<button id="searchBtn" class="btn btn-success btn-lg"
									ng-click="performProfileSearch(); setContent('ng_include/profile_search_results.html')">
									<span class="glyphicon glyphicon-leaf"></span> SEARCH
								</button>
								<br> <br>
							</div>


							<div id="row">
								<div ng-include="content"></div>
							</div>

						</div>

					</div>


				</div>

			</div>

		</div>
	</div>

</div>

<% include include/footer.html%>
