
<div class="row">
	<div id="filter-panel" class="collapse filter-panel">
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-inline" role="form">
				
				<div class="form-group">
						<label class="filter-col" style="margin-right: 0;"
							for="pref-perpage">Location:</label> <select
							class="form-control" ng-model="selectedLocation"
							ng-options="location as location.label for location in locations"></select>
					</div>

					
					<div class="form-group">
						<label class="filter-col" style="margin-right: 0;"
							for="pref-perpage">Field of Study:</label> <select
							class="form-control" ng-model="selectedMajor"
							ng-options="major as major.label for major in majors"></select>
					</div>

					<!-- form group [rows] -->
					<div class="form-group">
						<label class="filter-col" style="margin-right: 0;"
							for="pref-search">Search:</label> <input type="text"
							class="form-control input-sm" id="pref-search">
					</div>
					<!-- form group [search] -->
					<div class="form-group">
						<label class="filter-col" style="margin-right: 0;"
							for="pref-orderby">Order by:</label> <select id="pref-orderby"
							class="form-control">
							<option>Descendent</option>
						</select>
					</div>
					<!-- form group [order by] -->
					<div class="form-group">
						<div class="checkbox"
							style="margin-left: 10px; margin-right: 10px;">
							<label><input type="checkbox"> Ingested</label>
						</div>
						<div class="checkbox"
							style="margin-left: 10px; margin-right: 10px;">
							<label><input type="checkbox"> Automated</label>
						</div>
						<button type="submit" class="btn btn-default filter-col">
							<span class="glyphicon glyphicon-record"></span> Save Settings
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<button type="button" class="btn btn-secondary" data-toggle="collapse"
		id="advanced_search_button" data-target="#filter-panel">Show
		Advanced Search Options</button>
</div>