
<!--Override icon location on button groups -->
<style type="text/css">
#survery_form .btn-group .form-control-feedback {
    top: 0;
    right: -30px;
}
</style>

<div class="row">
	<div>
		<form id="survery_form" role="form" class="form-horizontal" action="details" method="post">
				
				<h2>Mentee or Mentor ? </h2>
				<section data-step="0">
					 <p>Student's Details dsakhjkl jkhsjah djsahkdjas dkjsahjdkhsa jdhsakh kjdhsajkhd </p>

					<hr>
					
					 <div class="form-group">
						<label class="col-lg-3 control-label">Select Account type: </label>
						
						<div class="col-lg-6">
						<div class="btn-group " data-toggle="buttons" id="account_type_group" value=<%= user.account_type%>>
							<label class="btn btn-default">
								<input type="radio" name="account_type" value="mentor" /> MENTOR
							</label>
							<label class="btn btn-default">
								<input type="radio" name="account_type" value="mentee" /> MENTEE
							</label>
						</div>
						</div>
					</div>
					
					<hr>

					<div class="form-group">
						<label for="last_name" class="sr-only control-label">Last Name:</label>
						<div class="col-lg-8">
							<input value="<%= user.last_name %>" type="text" name="last_name" id="last_name" 
class="form-control" placeholder="Last Name" tabindex="1">
						</div>
					</div>
					<div class="form-group">
						<label for="first_name" class="sr-only control-label">First Name:</label>
						<div class="col-lg-8">
							<input  value="<%= user.first_name%>" type="text" name="first_name" id="first_name" 
class="form-control" placeholder="First Name" tabindex="2">
						</div>
					</div>
				</section>
				
				 <h2>Experience and Education</h2>

				<section data-step="1">
					 <h2>Experience and Education:</h2>

					<hr>
					<p>
					jhsdakdhashdjhsakdh dsjahkdkjsahkd dkjsahkjdhaksjd dkjsahdkjhkasjd dsahdklhaslkd 
dklskahdlkjasld dsadjasl dsajdlkjas lkdsjaldjas
					</p>
					
				</section>
				 <h2>Additional Information</h2>

				<section data-step="2">
					 <h2>Additional Information:</h2>

					<hr>
					
					<p>
					jhsdakdhashdjhsakdh dsjahkdkjsahkd dkjsahkjdhaksjd dkjsahdkjhkasjd dsahdklhaslkd 
dklskahdlkjasld dsadjasl dsajdlkjas lkdsjaldjas
					</p>
					
				</section>
			<!-- end of wizard-->
		</form>
		<!-- end of form-->
	</div>
</div>
<!-- end of row-->