
<div class="col-md-3 col-sm-3" ng-controller="CollectUserData">

	<div class="user-wrapper">
		<img src="<%= user.avatar_path %>" class="img-responsive" />
		<div class="description">
			<h4><%= user.last_name %> <%= user.first_name %></h4>
			<h5>
				<strong> Account type : {{ user.account_type | capitalize}}</strong>
			</h5>
			<p>Member since 8/8/16.</p>
			<hr />

			<a href="#" class="btn btn-secondary btn-lg"
				ng-click="setContent('ng_include/dashboard_dynamic.html')"> <i
				class="fa fa-home"></i>&nbsp;DASHBOARD
			</a> </br>
			
			
			<a href="#" class="btn btn-secondary btn-lg"
				ng-click="setContent('ng_include/matches_dynamic.html')"> <i
				class="fa fa-leaf"></i>&nbsp;<%= search_target_caps %>
			</a> </br>
			
			 <a href="#" class="btn btn-secondary btn-lg"
				ng-click="setContent('ng_include/messages_dynamic.html')"> <i
				class="fa fa-envelope"></i>&nbsp;MESSAGES</a> </br>
				
				<a href="#" class="btn btn-secondary btn-lg" ng-click="setContent('ng_include/details_dynamic.html')"> <i
				class="fa fa-pencil"></i>&nbsp;EDIT PROFILE
			</a> </br> 
				
			 <a
				href="#" class="btn btn-secondary btn-lg"
				ng-click="setContent('ng_include/invitation_dynamic.html')">INVITE FRIENDS</a>
			<br> 
			
			<a href="#" class="btn btn-secondary btn-lg"
				ng-click="setContent('ng_include/feedback_dynamic.html')">FEEDBACK</a>

		</div>
	</div>
</div>

<div ng-include="content"
	ng-init="setContent('ng_include/dashboard_dynamic.html')"></div>