<div class="col-md-9 col-sm-9  user-wrapper">
	<div class="description" ng-controller="collectUserConnections">


		<h3 class="lead" ng-if="connections.length>
			0">
			You are connected to <strong class="text-danger">
				{{connections.length}} </strong> {{user.target}}<span
				ng-if="connections.length > 1">s</span>.

		</h3>
		<hr>

		<div class="row" ng-repeat="connection in connections">

			<div class="col-md-12 col-sm-12">

				<div class="search-result row text-left">

					<div class="col-md-1 col-sm-1"></div>

					<div class="col-md-2 col-sm-2>
				<a href="
						#" title="Lorem ipsum" class="thumbnail">
						<img ng-src={{connection.avatar_path}} alt="Lorem ipsum" /></a>
					</div>

					<div class="col-md-3 col-sm-3 text-left">
						<ul class="meta-search">
							<li><i class="glyphicon glyphicon-calendar"></i> <span>02/15/2014</span></li>
							<li><i class="glyphicon glyphicon-time"></i> <span>4:28
									pm</span></li>
							<li><i class="glyphicon glyphicon-tags"></i> <span>Location:
									{{connection.location}}</span></li>
							<li><i class="glyphicon glyphicon-tags"></i> <span>Major:
									{{connection.major}}</span></li>
						</ul>
					</div>


					<div class="col-md-5 col-sm-5">
						<h3>
							<a href="#" data-toggle="modal" data-target="#myModal" title="">
								<i class="glyphicon glyphicon-leaf"></i>
								{{connection.first_name|capitalize}}
								{{connection.last_name|capitalize}}
							</a>
						</h3>
						<p>{{ connection.objective }}</p>

						<div>
							<span class="plus"><a
								ng-click="setContent('ng_include/messages_dynamic.html')"
								href="#" title="Message {{connection.account_type}}"> <i
									class="glyphicon glyphicon-envelope"></i> Message
									{{connection.account_type}}
							</a></span>
						</div>

						<div>
							<a ng-click="removeConnection(connection,$index); " href="#"
								title="Message {{connection.account_type}}" class="text-danger">
								<i class="glyphicon glyphicon-remove-circle"></i> Remove
								{{connection.account_type}}
							</a>
						</div>

					</div>


					<div class="col-md-1 col-sm-1"></div>


				</div>


				<hr>
			</div>


		</div>


		<div ng-if="! connections.length > 0">
			You are not connected to a {{user.target|lowercase}}. Click <a
				href="search">here to search</a> for a {{user.target| lowercase }}.

			<br> <img src="../../static/img/connect.jpg" />
		</div>





	</div>
</div>


</div>